/* UTILITIES */
@font-face {
  font-family: NASA;
  src: url("assets/fonts/NASA.otf");
}

.ft-nasa {
  font-family: NASA;
}

/* #region HOME */
#home {
  height: 100vh;
}

/* NAVBAR */
.nav-link {
  font-family: NASA;
  color: black !important;
  margin: 0 5px;
}

.nav-link:hover {
  color: red !important;
}

/* LANDING */
#landing { 
  background: fixed no-repeat center/cover url("assets/imgs/bg.jpeg");
  height: 100%;
}

.mirror {
  transform: scaleY(-1);
  rotate: 180deg;
  opacity: 0.1;
  -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, 
  from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}
/* #endregion */

/* #region ABOUT US */
#about-us {
}
/* #endregion */

/* #region JOIN THE MISSION */
/* #endregion */

/* #region CODING CHALLENGE */
#coding-game {
  height: 600px;
}

#sketch-container {
  height: 600px;
}

.CodeMirror {
  height: 600px;
}

.cm-style1 {
  color: lightskyblue !important;
}
/* #endregion */
